html {
  font-family: 'Determination', 'Retro Gaming', monospace;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Determination', 'Retro Gaming', monospace;
  background-color: #000000;
  color: #00ff41;
}
